/* src/index.css 파일에서 body와 #root 부분을 아래와 같이 수정 */

body {
  margin: 0;
  /* 아래 세 줄은 삭제하거나 주석 처리 */
  /* display: flex; */
  /* place-items: center; */
  /* min-height: 100vh; */
}

#root {
  /* 여기는 내용을 비우세요. */
}